.card {
  border: 1px solid black;
  width: 250px;
  height: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #232323;
  border-radius: 10px;

  padding-top: 15px;
  padding-bottom: 15px;
}

.card > input {
  width: 90%;
}

.card__title {
  margin-left: auto;
  margin-right: auto;
}

.card__title > h3 {
  color: #FFF;
}

.card__body {
  background-color: #616161;
  width: 90%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card__stats {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card__stats__type {
  color: #FFF;
  font-weight: 600;
  background-color: coral;
  padding: 5px;
  margin-right: 3px;
  border-radius: 5px;
}
